/* Thanks to https://codepen.io/lisa_c/pen/akjiy */
.nav ul {
  list-style: none;
  background-color: #444; /* this is the color of the top nav bar */
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Bree Serif', serif; /* I changed this to my choice of google font */
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  margin-bottom: 0; /* this was added to fix inheritance issue */
}

.nav a {
  text-decoration: none;
  color: #fff; /* this is the color of the nav bar text */
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #333;
}

.nav a.active {
  background-color: beige; /* this is the color of the clicked nav link */
  color: #444;
  cursor: default;
}
/* this is the css code for the responsiveness of the .nav navigation */
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  } /* this is nested css. Don't delete this bracket, or it will break */

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
/* below is the css nav code for the classes you are taking sub-nav. */
.sub-nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.sub-nav a {
  text-decoration: none;
  display: block;
  transition: .3s background-color;


}

.sub-nav li {
  display: inline-block;
  margin-right: -4px;
  width: 75px;
  border-bottom: none;
  /*height: 40px;
  line-height: 40px; */
  font-family: 'Alegreya SC', serif;
  font-size: 20px;
  padding-top: 20px;
}


.sub-nav a.active {
  color: #000;
  font-weight: bold;
}

/* this is the css code for the responsiveness of the .sub-nav navigation */
@media screen and (min-width: 600px) {
  .sub-nav li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
}